* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:"Gilroy";
    color:white;
}

html,body{
    height:100%; 
    width:100%;
    
}

#main{
 height:100%;
 width:100%;
 background-color: rgb(17, 17, 17);
 overflow: hidden;
}

#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height:60px;
    padding: 0 30px;
}

#nav-part2{
    display: flex;
    align-items: center;
    gap:50px
}

#nav h3{
    font-size:25px;
    text-transform: uppercase;
    font-weight: 400;
}

#main h1{
    font-size: 150px;
    text-transform: uppercase;
    font-weight: 400;
    line-height:120px;
    width:80%;
    margin-left:10%;
    position:relative;
    z-index: 9;
}

h1::selection{
    color:rgb(200, 220, 19)
}

#main h1:nth-child(2){
    margin-top:180px;
}
#main h1:nth-child(3){
   text-align: center;
}
#main h1:nth-child(4){
   text-align: center;
}

img{
    height:400px;
    position:absolute;
    top:12%;
    left:40%;
}
#img1{
    rotate: 5deg;
}
#img2{
    rotate:10deg
}
#img3{
    rotate:20deg
}

#footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top:65px;
    padding:12px;
    font-size:14px;
    text-transform: uppercase;
}